<div class="ui grid">
  <div class="row">  
    {{#each bookmark.bookmarks}}
      <div class="four wide column">
        <div class="ui card">
          <div class="image">
            <img class="ui medium image" src="{{image}}">
          </div>
          <div class="content">
            <div class="description">
              <a href="{{link}}" target="_blank">{{title}}</a>
            </div>
          </div>
          <div class="extra content">
            <a href="/bookmark/{{../bookmark.id}}/deletelink/{{id}}"> <i class="trash icon"></i></a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>